<table class="cuckoo-table">

    <thead>
        <tr>
            <th>ID</th>
            <th>日期</th>
            <th>文件</th>
            <th>类型</th>
            <th>威胁程度</th>
        </tr>
    </thead>

    <tbody>

        {{#each entries}}

            <tr>
                <td>{{id}}</td>
                <td>{{added_on}}</td>
                <td>{{target}}</td>
                <td>{{target_type}}</td>
                <td><span class="badge">{{score}} / 10</span></td>
            </tr>

        {{/each}}

        {{#if lessEntries}}
            <tr class="less-entries">
                <td colspan="5"><span class="badge">暂无数据</span></td>
            </tr>
        {{/if}}

    </tbody>

</table>