<div class="flex-form">

	<header class="flex-form__header">
		<h4><i class="fa fa-list"></i> 选项</h4>
	</header>

	<ul class="flex-static__summary" id="selection-overview">

		<li>
			<div class="flex-form__simple-inline no-icon">
				<label for="search-selection"><i class="fa fa-search"></i></label>
				<input type="text" name="search-selection" id="search-selection" placeholder="搜索选项" />

				{{#if extensions}}
					<span class="extension-select">
						<select class="none-selected">
							<option disabled selected>扩展</option>
							{{#each extensions}}
								<option value="{{this}}">{{this}}</option>
							{{/each}}
						</select>
					</span>
				{{/if}}

			</div>
		</li>

		{{#each selection}}
			<li data-index="{{this.filetree.index}}">
				<a href="{{this.filetree.index}}" {{#if this.filetree.is_directory}} class="disabled" disabled{{/if}}>
					<strong>
						{{#if this.filetree.is_directory}}
							<i class="fa fa-folder-o"></i>
						{{else}}
							{{#if this.filetree.is_package}}
								<i class="fa fa-file-archive-o"></i>
							{{else}}
								<i class="fa fa-file-o"></i>
							{{/if}}
						{{/if}}
						{{#if this.fname_short}}
							{{{this.fname_short}}}
						{{else}}
							{{{this.filename}}}
						{{/if}}
					</strong>
					{{#unless this.filetree.is_directory}}
						<small>
							{{#if this.rpath_short}}
								{{this.rpath_short}}
							{{else}}
								{{this.relapath}}
							{{/if}}
						</small>
					{{/unless}}
				</a>
			</li>
		{{/each}}

		<li class="no-results hidden">
			<p class="description">Your search returned 0 results</p>
		</li>

	</ul>

	{{#unless empty}}
		<p class="description">这些文件将被加入分析，确定后按提交分析按钮来提交。</p>
	{{else}}
		<p class="description">在进行分析之前，需要选择一些文件。请在文件/文件夹前的多选框选中。</p>
	{{/unless}}

</div>
